.transfer-items-container {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .transfer-items-card {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .btn-submit {
    width: fit-content;
    padding: 12px;
    background-color: #57791b;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* Make it a block element */
    margin: 0 auto; /* This centers the button horizontally */
  }
  
  .btn-submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .loading-spinner {
    text-align: center;
    font-size: 18px;
    color: #555;
  }
  
  .item-image {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  